<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center">SOS APP</mat-card-title>

    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab i18n-label label="Iniciar sessión">
        <mat-card-content class="login-card">
          <form [formGroup]="formLogin" (ngSubmit)="login($event)" novalidate>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                i18n-placeholder
                name="email"
                formControlName="email"
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Clave"
                i18n-placeholder
                type="password"
                minlength="6"
                name="password"
                formControlName="pass"
              />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              <span i18n>Iniciar sessión</span>
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab i18n-label label="Crear cuenta">
        <mat-card-content class="sign-card">
          <form [formGroup]="formSign" (ngSubmit)="sign($event)" novalidate>
            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                i18n-placeholder
                name="email"
                formControlName="emailSg"
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Clave"
                i18n-placeholder
                type="password"
                minlength="6"
                name="password"
                formControlName="passSg"
              />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Nombre"
                i18n-placeholder
                name="nombre"
                formControlName="nombreSg"
              />
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Apeliido"
                i18n-placeholder
                name="apellido"
                formControlName="apellidoSg"
              />
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Pais"
                i18n-placeholder
                name="pais"
                formControlName="paisSg"
              />
              <mat-icon matSuffix>flag</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Direccion"
                i18n-placeholder
                name="direccion"
                formControlName="direccionSg"
              />
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Dni"
                i18n-placeholder
                name="dni"
                formControlName="dniSg"
              />
              <mat-icon matSuffix>fingerprint</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Cuil"
                i18n-placeholder
                name="cuil"
                formControlName="cuilSg"
              />
              <mat-icon matSuffix>fingerprint</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Telefono"
                i18n-placeholder
                name="telefono"
                formControlName="telefonoSg"
              />
              <mat-icon matSuffix>settings_phone</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              <span i18n>Crear cuenta</span>
            </button>
          </form>
          <button
            (click)="openValidateCode()"
            mat-raised-button
            color="primary"
            class="login-button"
          >
            <span i18n>Validar código</span>
          </button>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
