.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #607d8b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  width: 30%;
  margin: 5% auto;
  border-radius: 8px;
  overflow: scroll;
  max-height: 80vh;
}
mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 2%;
}

.login-button {
  margin-top: 20%;
  display: block;
  width: 80%;
  margin: 2% auto;
  outline: none;
}

::ng-deep snack-bar-container.alert-green {
  background-color: #c8e6c9;
  color: lightslategrey;
}

::ng-deep snack-bar-container.alert-red {
  background-color: #ffcdd2;
  color: lightslategrey;
}

.login-card {
  margin-top: 5%;
}

.sign-card {
  margin-top: 5%;
}
