.form {
  width: 100%;
}

.button,
.mensaje,
.services {
  width: 100%;
}

button {
  outline: none;
}

.service-off {
  font-style: oblique;
}

.content {
  margin: auto;
  margin-top: 5%;
  width: 50%;
  height: 52%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  margin-left: 25%;
}

.service-info {
  width: 50%;
  height: 100%;
}

.map {
  position: absolute;
  margin-left: 50%;
}

::ng-deep snack-bar-container.alert-green {
  background-color: #c8e6c9;
  color: lightslategrey;
}

::ng-deep snack-bar-container.alert-red {
  background-color: #ffcdd2;
  color: lightslategrey;
}

.map-style {
  height: 600px !important;
  width: 600px;
}
