<mat-card class="general-card">
  <div class="service-info">
    <h6 i18n>Servicios disponibles:</h6>
    <mat-form-field class="form" appearance="fill">
      <mat-label i18n>Ingrese servicio</mat-label>
      <mat-select
        class="services"
        [(ngModel)]="selectedValue"
        name="service"
        (click)="getAttendances()"
      >
        <ng-container *ngFor="let serv of servicios; let i = index">
          <mat-option
            [value]="serv.id"
            [disabled]="existeServicioEnCurso(serv.id)"
            (click)="validateStatusService(serv.id)"
          >
            {{ serv.nombre }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <h6 i18n>Datos para el servicio:</h6>
    <input
      [(ngModel)]="currentInput"
      class="file"
      type="file"
      multiple
      (change)="onFileSelected($event)"
    />
    <br />
    <br />
    <mat-form-field class="mensaje" appearance="fill">
      <mat-label i18n>Mensaje</mat-label>
      <textarea matInput [(ngModel)]="textArea" rows="8"></textarea>
    </mat-form-field>
    <br />
    <button
      class="button"
      mat-flat-button
      color="primary"
      (click)="solicitar()"
    >
      <span i18n>Solicitar asistencia</span>
    </button>
  </div>
  <div class="map">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="18">
      <agm-marker
        [latitude]="latitude"
        [longitude]="longitude"
        [markerDraggable]="true"
      ></agm-marker>
    </agm-map>
  </div>
</mat-card>
