.form {
  width: 100%;
}

.button,
.mensaje,
.services {
  width: 100%;
}

button {
  outline: none;
}

.service-off {
  font-style: oblique;
}

.general-card {
  margin: 3% 15%;
  display: flex;
}

.service-info {
  width: 50%;
  height: 100%;
}

.map {
  position: absolute;
  margin-left: 50%;
}

::ng-deep snack-bar-container.alert-green {
  background-color: #c8e6c9;
  color: lightslategrey;
}

::ng-deep snack-bar-container.alert-red {
  background-color: #ffcdd2;
  color: lightslategrey;
}

agm-map {
  height: 55vh;
  width: 32vw;
}
