<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="shouldRun"
>
  <mat-toolbar color="primary" class="example-toolbar">
    <!-- START NAME LOGIN -->
    <span i18n class="example-spacer">SOS APP</span>
    <span>{{ email_bind }}</span>
    <!-- END NAME LOGIN -->
    <!-- START PROFILE BUTTON -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="account">
      <mat-icon class="account-icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="home()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="historic()">
        <mat-icon>history</mat-icon>
        <span>Historico</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <!-- END PROFILE BUTTON -->

  <router-outlet></router-outlet>
</div>
