<div class="chats">
  <button class="close-dialog" (click)="closeDialog()">
    <mat-icon class="icon-close">close</mat-icon>
  </button>
  <br />
  <h5 i18n>Historial de chat</h5>
  <p class="chat-info" *ngFor="let chat of chats; let i = index">
    {{ chat.idServicio }} - {{ chat.idAsistencia }}
  </p>
  <div class="chat">
    <mat-card *ngFor="let chat of chats; let i = index">
      <div class="container" *ngFor="let dato of chat.dataChat; let i = index">
        <mat-icon>account_circle</mat-icon>
        <ng-container *ngIf="dato.creadoPor == null">
          <p class="chat-user">tu</p>
        </ng-container>
        <ng-container *ngIf="dato.creadoPor != null">
          <p class="chat-user">{{ dato.creadoPor }}</p>
        </ng-container>
        <p class="chat-message">{{ dato.tipoDato }}</p>
        <div *ngIf="dato.tipoDato == 'imagen' else elseBlock"><img [src]="dato.dato"></div>
        <ng-template #elseBlock><p class="chat-message">{{ dato.dato }}</p></ng-template>
        <span class="time-right">{{ dato.fecha | date: 'medium' }}</span>
      </div>
    </mat-card>
  </div>
</div>
