<mat-tab-group>
  <mat-tab *ngFor="let chat of chats; let i = index" label="{{chat.idServicio}}">
    
    <mat-card class="chat">

        <button class="close" (click)="closeChat(chat.idAsistencia)" mat-raised-button title="Cancelar asistencia">
          <mat-icon class="icon-delete">delete</mat-icon>
        </button>

      <h5 class="service_title">{{chat.idServicio}}</h5>
      <p>Asistencia: {{chat.idAsistencia}}</p>
    
        <div class="container" *ngFor="let dato of chat.dataChat; let i = index">
        
          <mat-icon>account_circle</mat-icon>
          <p>{{dato.dato}}</p>
          <span class="time-right">{{dato.fecha}}</span>
        </div>
    
        <div>
    
          <mat-form-field  class="text" appearance="fill">
              <mat-label>Mensaje</mat-label>
              <input matInput id="username" name="username" #message maxlength="50" placeholder="Inserte mensaje" #username>
          </mat-form-field>
    
          <button (click)="sendChat(username.value, chat.idAsistencia)" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon class="icon-chat">send</mat-icon>
          </button>
        </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>