<mat-toolbar color="primary" class="example-toolbar">
  <!-- START NAME LOGIN -->
  <span i18n class="example-spacer">SOS APP</span>
  <span>{{ email_bind }}</span>
  <!-- END NAME LOGIN -->
  <!-- START PROFILE BUTTON -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="account">
    <mat-icon class="account-icon">account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="home()">
      <mat-icon>home</mat-icon>
      <span i18n>Inicio</span>
    </button>
    <button mat-menu-item (click)="historic()">
      <mat-icon>history</mat-icon>
      <span i18n>Historico</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span i18n>Salir</span>
    </button>
  </mat-menu>
</mat-toolbar>
