<div class="chats">
  <button class="close-dialog" (click)="closeDialog()">
    <mat-icon class="icon-close">close</mat-icon>
  </button>
</div>
<br />
<h5 i18n>Historial de chat</h5>
<div class="chat">
  <mat-card *ngFor="let chat of chats; let i = index" class="chat">
    <p class="chat-info">{{ chat.idServicio }} - {{ chat.idAsistencia }}</p>
    <div class="container" *ngFor="let dato of chat.dataChat; let i = index">
      <mat-icon>account_circle</mat-icon>
      <p>{{ dato.dato }}</p>
      <span class="time-right">{{ dato.fecha }}</span>
    </div>
  </mat-card>
</div>
