<!-- FAB Button Urgencias-->
<button
  mat-fab
  class="chat-button"
  color="accent"
  aria-label="Chat"
  matTooltip="Urgencias"
  matTooltipPosition="left"
  matBadge="{{ countNewChats('urgencias') }}"
  matBadgePosition="before"
  matBadgeColor="primary"
  [ngClass]="
    chatSeleccionado && chatSeleccionado.idServicio === 'urgencias'
      ? 'chat-button-selected'
      : 'chat-button'
  "
  [matBadgeHidden]="countNewChats('urgencias') === 0"
  (click)="viewChat('urgencias')"
>
  <span class="material-icons"> emergency </span>
</button>
<br />

<!-- FAB Button Bomberos-->
<button
  mat-fab
  color="primary"
  aria-label="Chat"
  matTooltip="Bomberos"
  matTooltipPosition="left"
  matBadge="{{ countNewChats('bomberos') }}"
  matBadgePosition="before"
  matBadgeColor="primary"
  [ngClass]="
    chatSeleccionado && chatSeleccionado.idServicio === 'bomberos'
      ? 'chat-button-selected'
      : 'chat-button'
  "
  [matBadgeHidden]="countNewChats('bomberos') === 0"
  (click)="viewChat('bomberos')"
>
  <span class="material-icons"> fire_truck </span>
</button>
<br />

<!-- FAB Button Policia-->
<button
  mat-fab
  class="chat-button"
  color="primary"
  aria-label="Chat"
  matTooltip="Policia"
  matTooltipPosition="left"
  matBadge="{{ countNewChats('policia') }}"
  matBadgePosition="before"
  matBadgeColor="primary"
  [ngClass]="
    chatSeleccionado && chatSeleccionado.idServicio === 'policia'
      ? 'chat-button-selected'
      : 'chat-button'
  "
  [matBadgeHidden]="countNewChats('policia') === 0"
  (click)="viewChat('policia')"
>
  <span class="material-icons"> local_police </span>
</button>
<br />

<!-- FAB Button Defensa Civil-->
<button
  mat-fab
  class="chat-button"
  color="primary"
  aria-label="Chat"
  matTooltip="Defensa Civil"
  matTooltipPosition="left"
  matBadge="{{ countNewChats('defensa_civil') }}"
  matBadgePosition="before"
  matBadgeColor="primary"
  [ngClass]="
    chatSeleccionado && chatSeleccionado.idServicio === 'defensa_civil'
      ? 'chat-button-selected'
      : 'chat-button'
  "
  [matBadgeHidden]="countNewChats('defensa_civil') === 0"
  (click)="viewChat('defensa_civil')"
>
  <span class="material-icons"> flood </span>
</button>
<br />
<!-- END CHAT ICON BUTTON -->

<ng-container *ngIf="chatSeleccionado">
  <mat-card class="chat-service-selected">
    <mat-icon class="close-dialog" (click)="closeChat()">close</mat-icon>
    <mat-icon
      class="material-symbols-outlined"
      [ngClass]="{
        'icon-active': isActivatedChat(),
        'icon-closed': !isActivatedChat()
      }"
    >
      radio_button_checked
    </mat-icon>
    <p class="service_title">
      {{ chatSeleccionado.idServicio }}
    </p>
    <p class="attendance_title" i18n>
      Asistencia: {{ chatSeleccionado.idAsistencia }}
    </p>

    <div #chatsContainer class="chats-container">
      <div
        id="{{ 'dato' + i }}"
        class="container"
        *ngFor="let dato of chatSeleccionado.dataChat; let i = index"
        [ngClass]="!dato.creadoPor ? '' : 'chat-container-assistant'"
      >
        <mat-icon>account_circle</mat-icon>
        <ng-container *ngIf="!dato.creadoPor">
          <p class="chat-user" i18n>tu</p>
        </ng-container>
        <ng-container *ngIf="dato.creadoPor">
          <p class="chat-user">{{ dato.creadoPor }}</p>
        </ng-container>
        <ng-container  *ngIf="dato.tipoDato == 'imagen' else elseBlock"><img [src]="dato.dato"></ng-container>
        <ng-template #elseBlock>
          <ng-container *ngIf="dato.tipoDato == 'ubicacion' else datoBlock"><app-dialog-ubicacion ubicacion="{{dato.dato}}"></app-dialog-ubicacion> </ng-container>
        </ng-template>
        <ng-template #datoBlock><p class="chat-message">{{ dato.dato }}</p></ng-template>
        <span class="time-right">{{ dato.fecha }}</span>
      </div>
    </div>

    <mat-form-field class="form-input-message" appearance="fill">
      <mat-label class="input-message-title" i18n>Mensaje</mat-label>
      <input
        #message
        matInput
        name="username"
        maxlength="50"
        i18n-placeholder
        placeholder="Inserte mensaje"
        class="input-message"
        [disabled]="!isActivatedChat()"
        (keyup.enter)="sendChat(message.value, chatSeleccionado.idAsistencia)"
      />
    </mat-form-field>

    <button
      mat-fab
      color="primary"
      i18n-aria-label
      class="send-btn"
      [disabled]="!isActivatedChat()"
      (click)="sendChat(message.value, chatSeleccionado.idAsistencia)"
    >
      <mat-icon class="icon-chat">send</mat-icon>
    </button>

    <button
      class="close"
      mat-raised-button
      i18n-aria-label
      title="Cancelar asistencia"
      [disabled]="!isActivatedChat()"
      (click)="cancelAttendance(chatSeleccionado.idAsistencia)"
    >
      <span i18n>Cancelar asistencia</span>
    </button>
  </mat-card>
</ng-container>
