<div class="carousel-container">
  <mat-carousel
    timings="600ms ease-in"
    interval="4000"
    color="primary"
    maxWidth="auto"
    proportion="4"
    slides="4"
    orientation="ltr"
    [autoplay]="true"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
  >
    <mat-carousel-slide #matCarouselSlide [hideOverlay]="false">
      <div class="carousel-slide">
        <p class="news-text">{{ mensaje_noticia_principal }}</p>
      </div>
    </mat-carousel-slide>

    <mat-carousel-slide #matCarouselSlide [hideOverlay]="false">
      <div class="carousel-slide">
        <p class="news-text">{{ mensaje_noticia_secundaria }}</p>
      </div>
    </mat-carousel-slide>

    <mat-carousel-slide #matCarouselSlide [hideOverlay]="false">
      <div class="carousel-slide">
        <p class="news-text">{{ mensaje_aviso_principal }}</p>
      </div>
    </mat-carousel-slide>

    <mat-carousel-slide #matCarouselSlide [hideOverlay]="false">
      <div class="carousel-slide">
        <p class="news-text">{{ mensaje_aviso_secundario }}</p>
      </div>
    </mat-carousel-slide>
  </mat-carousel>
</div>
