
<br>
<br>
<h3>Histórico de asistencias:</h3>
<br>
<mat-card class="historical-style">
    <table>
        <tr>
            <th>ID</th>
            <th>ID_SERVICIO</th>
            <th>ID_SOLICITUD</th>
            <th>ESTADO</th>
            <th>FECHA_CREACION</th>
            <th>FECHA_CANCELACION</th>
            <th>MOTIVO_CANCELACION</th>
        </tr>
        <tr *ngFor="let asistencia of asistencias">
            <td>{{asistencia.id}}</td>
            <td>{{asistencia.idServicio}}</td>
            <td>{{asistencia.idSolicitud}}</td>
            <td>{{asistencia.estado}}</td>
            <td>{{asistencia.fechaCreacion}}</td>
            <td>{{asistencia.fechaCancelacion}}</td>
            <td>{{asistencia.motivoCancelacion}}</td>
        </tr>
    </table>
</mat-card>
