
<mat-drawer-container class="news-container">
<mat-card class="title-card">
  <mat-card-title>Bienvenido a SOS</mat-card-title>
      El sistema SOS te perimite realizar solicitides a servicios de asistencias.<br>
      Se puede consultar el historico de asistencias.<br>
      Se puede realizar un pedido de asistencia seleccionando Policia, Urgencias, Bomberos o Defensa Civil.<br>
      Se puede realizar un seguimiento de la asistencia mediante un chat individual ante cada asistencia solicitada.
  </mat-card>
  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_noticia_principal}}</mat-card-title>
    {{mensaje_noticia_principal}}
  </mat-card>

  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_noticia_secundaria}}</mat-card-title>
    {{mensaje_noticia_secundaria}}
  </mat-card>
  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_aviso_principal}}</mat-card-title>
    {{mensaje_aviso_principal}}
  </mat-card>

  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_aviso_secundario}}</mat-card-title>
    {{mensaje_aviso_secundario}}
  </mat-card>
</mat-drawer-container>