
<mat-drawer-container class="news-container">
<mat-card class="title-card">
      <mat-card-title>Bienvenido a SOS</mat-card-title>
      Esta card es para la bienvenida al portal
  </mat-card>
  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_noticia_principal}}</mat-card-title>
    {{mensaje_noticia_principal}}
  </mat-card>

  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_noticia_secundaria}}</mat-card-title>
    {{mensaje_noticia_secundaria}}
  </mat-card>
  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_aviso_principal}}</mat-card-title>
    {{mensaje_aviso_principal}}
  </mat-card>

  <mat-card class="title-card-news">
    <mat-card-title>{{tipo_aviso_secundario}}</mat-card-title>
    {{mensaje_aviso_secundario}}
  </mat-card>
</mat-drawer-container>